<?xml version="1.0" encoding="UTF-8"?>
<phpunit forceCoversAnnotation="true" mapTestClassNameToCoveredClassName="true" bootstrap="./bootstrap.php" colors="true" backupGlobals="false" backupStaticAttributes="false" syntaxCheck="false">
<!--
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../lib/gClient</directory>
        </whitelist>
    </filter>
-->
    <testsuites>
        <testsuite name="gClient">
            <directory>gClientTests</directory>
        </testsuite>
    </testsuites>
</phpunit>